<%- include('partials/header')%>
<%- include('partials/nav')%>

<section class="dash-section">
  <div class="experiment-list">
    <div class="experiment">
      <a href="/admin/projects">Assigned Project</a>
    </div>

    <div class="experiment">
      <a href="/admin/submitted-projects">Submitted Project</a>
    </div>

    <div class="experiment">
      <a href="/admin/addproject">Add New Project</a>
    </div>

    <div class="experiment">
      <a href="/admin/deleteprojects">Delete Project</a>
    </div>
  </div>
</section>

<%- include('partials/footer')%>